<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.nanusam.mapper.GoodsMapper">
    <select id="listByPage" resultType="net.fullstack7.nanusam.domain.GoodsVO">
        select idx, name, memberId, price, quality, status, regDate, modifyDate, readCnt, category, content, reservationId
        from tbl_goods
        where status != 'N'
        <if test='searchKeyword != null and searchKeyword != ""'>
            and name like concat('%', #{searchKeyword}, '%')
        </if>
        <if test='searchCategory != null and searchCategory != ""'>
            and category = #{searchCategory}
        </if>
        <if test='memberId != null and memberId != ""'>
            and memberId = #{memberId}
        </if>
        <if test='reservationId != null and reservationId != ""'>
            and reservationId = #{reservationId}
        </if>
        <choose>
            <when test='orderBy != null and orderBy != ""'>
                order by ${orderBy} ${orderByDir}
            </when>
            <otherwise>
                order by regDate desc
            </otherwise>
        </choose>
        limit #{page_skip_count}, #{page_size}
    </select>
    <select id="view" resultType="net.fullstack7.nanusam.domain.GoodsVO">
        select idx, name, memberId, price, quality, status, regDate, modifyDate, readCnt, category, content
        from tbl_goods
        where idx = #{idx}
    </select>
    <select id="totalCount">
        select count(idx) as total_count
        from tbl_goods
        where idx > 0
        <if test='searchKeyword != null and searchKeyword != ""'>
            and name like concat('%', #{searchKeyword}, '%')
        </if>
        <if test='searchCategory != null and searchCategory != ""'>
            and category = #{searchCategory}
        </if>
    </select>

    <insert id="regist" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        insert into tbl_goods (name, memberId, price, quality, status, category, content)
        values (#{name},#{memberId},#{price},#{quality},#{status},#{category},#{content})
    </insert>

    <update id="modifyGoodsInfo">
        update tbl_goods set price=#{price}, quality=#{quality}, category=#{category}, content=#{content}, name=#{name}
        where idx=#{idx}
    </update>

    <delete id="deleteByIdx">
        delete from tbl_goods where idx=#{idx}
    </delete>

    <select id="getSellerId" resultType="int">
        select memberId from tbl_goods where idx=#{idx}
    </select>
</mapper>