<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.nanusam.mapper.MemberMapper">

    <!-- 일반 로그인 -->
    <select id="login" >
        SELECT memberId, pwd, memType, status
        FROM tbl_member
        WHERE memberId = #{memberId}
    </select>

    <!-- 관리자 로그인 -->
<!--    <select id="loginAdmin" resultType="net.fullstack7.nanusam.domain.MemberVO">-->
<!--        SELECT memberId, pwd-->
<!--        FROM tbl_member-->
<!--        WHERE memberId = #{memberId} AND memType = 'a'-->
<!--    </select>-->

    <!-- 회원 정보 확인 -->
    <select id="viewMember" >
        SELECT memberId, pwd, name, email, phone, birthday, addr1, zipCode
        FROM tbl_member
        WHERE memberId = #{memberId}
    </select>

    <!-- 비밀번호 확인 -->
    <select id="pwdCheck" >
        SELECT pwd
        FROM tbl_member
        WHERE memberId = #{memberId}
    </select>

<!--    아이디 중복확인-->
    <select id="memberIdCheck" resultType="String">
        SELECT memberId
        FROM tbl_member
        WHERE memberId = #{memberId}
    </select>

    <!-- 회원 가입 -->
    <insert id="registMember" >
        INSERT INTO tbl_member (memberId, pwd, name, email, phone, birthday, addr1, addr2, zipCode)
        VALUES (#{memberId}, #{pwd}, #{name}, #{email}, #{phone}, #{birthday}, #{addr1}, #{addr2}, #{zipCode})
    </insert>

    <!-- 회원 수정 -->
    <update id="modifyMember" >
        UPDATE tbl_member
        SET email = #{email},
            phone = #{phone},
            addr1 = #{addr1},
            addr2 = #{addr2},
            zipCode = #{zipCode}
        WHERE memberId = #{memberId}
    </update>

    <!-- 회원상태 비활성화 -->
    <update id="deleteMember">
        UPDATE tbl_member
        SET leaveDate = NOW(),
            status = 'N'
        WHERE memberId = #{memberId}
    </update>

<!--    탈퇴테이블 업데이트-->
    <insert id="insertSecessionMember" parameterType="net.fullstack7.nanusam.domain.SecessionMemberVO">
        INSERT INTO tbl_secession_member
        (memberId, pwd, name, email, phone, birthday, addr1, addr2, zipCode, memType, regDate, leaveDate, status, description)
        SELECT
            memberId, pwd, name, email, phone, birthday, addr1, addr2, zipCode, memType, regDate, leaveDate, status, '직접탈퇴'
        FROM tbl_member
        WHERE memberId = #{memberId}
    </insert>

<!--    원래테이블 정보 지우기-->
    <update id="deleteMemberInfo" parameterType="String">
        UPDATE tbl_member
        SET pwd = 'N',
            name = 'N',
            email = 'N',
            phone = 'N',
            birthday = 'N',
            addr1 = 'N',
            addr2 = 'N',
            zipCode = 'N',
            memType = 'N'
        WHERE memberId = #{memberId}
    </update>
</mapper>